* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}
html, body {
    height: 100%;
}
a {
    color: #000;
    text-decoration: unset;
}
/* 导航 */
nav {
    position: fixed;
    right: -240px;
    width: 240px;
    height: 100%;
    z-index: 999;
    background: #fff;
    padding-top: 100px;
    text-align: center;
    border-left: 1px solid #b0b0b0;
    transition: all .3s ease;
}
nav.active {
    right: 0;
}
nav li {
    margin-top: 28px;
}
nav li a {
    display: inline-block;
    padding-bottom: 2px;
}
nav li.active a{
    border-bottom: 1px solid #000;
}
nav.active {
    width: 240px;
}

/* 菜单按钮 */
.menu-box {
    position: fixed;
    top: 100px;
    right: 95px;
    width: 70px;
    cursor: pointer;
    z-index: 999;
    transition: all .3s ease;
    text-align: center;
    background: #fff;
}
.menu-box .hambuger {
    display: inline-block;
    margin-top: 5px;
    width: 40px;
    height: 35px;
    background: url(../img/hambuger.png) no-repeat;
    background-position: center;
}
.menu-box.active .hambuger {
    background: url(../img/close.png) no-repeat;
    background-position: center;
}
.menu-box.active {
    right: 335px;
}
/* 通用内容区 */
.content-box {
    width: 1440px;
    margin: 0 auto;
    height: 100%;
    position: relative;
}
/* 底部 */
.copy-right-footer {
    height: 60px;
    background: #000;
    color: #fff;
    line-height: 60px;
    text-align: center;
    letter-spacing: 2px;
}
/* 通用部分结束 */

/* 详情页 */
.detail-page header {
    height: 180px;
}
.detail-page .content {
    padding-bottom: 50px;
}
.detail-page .content .content-box {
    display: flex;
    height: 700px;
}
.detail-page header img{
    position: absolute;
    bottom: 10px;
    height: 100px;
}
/* 左侧导航 */
.detail-page .left{
    position: relative;
    width: 315px;
    display: flex;
    font-size: 16px;
}
.detail-page .bottom {
    position: absolute;
    bottom: 0;
}
.detail-page .years {
    width: 115px;
    letter-spacing: 2px;
}
.detail-page .years li {
    cursor: pointer;
}
.detail-page .years li:not(:nth-child(1)) {
    margin-top: 45px;
}
.detail-page .cate {
    width: calc(315px - 115px)
}
.detail-page .cate li {
    cursor: pointer;
}
.detail-page .cate li.active span {
    border-bottom: 1px solid #000;
    display: inline-block;
    padding-bottom: 2px;
}
.detail-page .cate li:not(:nth-child(1)) {
    margin-top: 10px;
}
/* 内容 */
.detail-page .right {
    font-size: 20px;
    position: relative;
    letter-spacing: 3px;
}
.detail-page .right h3{
    font-weight: normal;
}
.detail-page .right span, .detail-page .right p {
    color: #3e3e3e;
    display: block;
    line-height: 30px;
    margin-top: 20px;
    width: 90%;
    font-weight: 300;
}
.detail-page .right img {
    margin-top: 22px;
    width: 760px;
}
.detail-page .btn-grop {
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 56px;
    width: 106px;
    border: 1px solid #000;
    bottom: 0;
}
.detail-page .btn-grop div {
    width: 50%;
    text-align: center;
    line-height: 56px;
    cursor: pointer;
    transition: all .3s ease;
    font-size: 30px;
}
.detail-page .btn-grop div:hover {
    color: #fff;
    background: #000;
}
.detail-page .btn-grop div:first-child {
    border-right: 1px solid #000;
}

/* 招商加盟 */
.join-page header{
    height: 1080px;
    width: calc(100% - 240px);
    position: relative;
}
.join-page header img{
    height: 100%;
}
.banner-mask {
    width: 920px;
    margin: 0 auto;
    position: absolute;
    top: 0;
    height: 100%;
    left: 200px;
    right: 0;
    margin: 0 auto;
    background: rgba(79, 51, 42, .5);
}
.join-page header .banner-content {
    height: 320px;
    width: 780px;
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    margin: auto;
    border: 3px solid #fff;
    padding: 55px 40px;
    color: #fff;
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 40px;
}
/* 招商加盟内容 */
.join-page .item {
    padding: 78px 0;
    position: relative;
}
.join-page .item-title {
    margin: 30px 0;
    font-size: 30px;
    letter-spacing: 2px;
}
.join-page .item1 {
    height: 1080px;
}
.join-page .item1 .map {
    position: absolute;
    top: 78px;
    right: 96px;
}
.join-page .item1 .info {
    position: absolute;
    bottom: 0;
}
.join-page .item1 .info li {
    margin-bottom: 20px;
    font-size: 24px;
}
.join-page .item1 .info li:nth-child(2) {
    margin-bottom: 30px;
}
.join-page .item1 .info img {
    display: inline-block;
    margin-bottom: -12px;
    margin-right: 20px;
}
.join-page .item2 {
    background: #f0efeb;
}
.join-page .item2 .card-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.join-page .item2 .card-box > li {
    height: 520px;
    width: 395px;
    box-shadow: 0 2px 10px #000;
    background: #fff;
}
.join-page .item2 .card-box div{
    height: 210px;
    background: #000;
    text-align: center;
    padding: 50px 0;
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    line-height: 65px;
}
.join-page .item2 .card-box > li:nth-child(3) ~ li  {
    margin-top: 90px;
}
.join-page .item2 .card-text {
    padding-top: 10px;
}
.join-page .item2 .card-text li {
    margin-top: 30px;
    font-size: 20px;
    padding: 0 60px 0 95px;
    position: relative;
}
.join-page .item2 .card-text li:before {
    content: '';
    left: 62px;
    top: 5px;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: #000;
    position: absolute;
}
.join-page .item3 ul {
    display: flex;
    justify-content: space-between;
}
.join-page .item3 li {
    height: 400px;
    width: 400px;
    border: 2px solid #000;
    transition: all .3s ease;
    border-radius: 50%;
    font-size: 24px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 45px;
    letter-spacing: 3px;
}
.join-page .item3 li:hover {
    background: #000;
    color: #fff;
}
.join-page .item4 {
    background: #f0efeb;
}
.join-page .item4 .item4-content {
    margin-top: 30px;
}
.join-page .item5 {
    text-align: center;
    font-size: 24px;
}
.join-page .item5 h3 {
    margin-bottom: 30px;
}
.join-page .item5 p {
    margin-top: 20px;
}
@media only screen and (max-width: 1480px) {
    .content-box {
        width: 1000px;
    }
}